/* PORTFOLIO RESPONSIVO FR | DEBH VALOIS | 19/03/2022 - 25/03/2022 */

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

html,
body {
  font-family: Ubuntu, Arial;
  width: 100%;
  height: 100%;
}
/* *********** ////// HEADER ////// ********** */
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: #021124;
  overflow-y: auto;
  width: 300px;
  transition: all ease-in-out 0.5s; /* ABRIR E FECHAR COM FUIDEZ */
  padding: 0 15px;
  z-index: 9997;
}
#header .profile .portrait {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid #2c2f3f;
  border-radius: 50%;
}
/* XÍCARAS DE CAFÉ */
#header .profile .icon {
    margin: 15px auto;
    display: block;
    width: 35px;
}
#header .profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  text-align: center;
  color: #fff;
}
#header .profile .social-links a {
    font-size: 1rem;
    background: #212431;
    color: #fff;
    padding: 0.6rem;
    margin-right: 1rem;
    border-radius: 50%;
    transition: 0.3s;
    text-decoration: none;
}
#header .profile .social-links a:hover {
  background: #149ddd;
}
/* *********** ////// NAV MENU /////// ********** */
.nav-menu {
    padding: 1.5rem;
}
/* *** SEM FOCO : LETRA FICA CINZA *** */
.nav-menu a,
.nav-menu a:focus {
    display: flex;
    align-items: center;
    color: #a8a9b4;
    transition: 0.3s;
    font-size: 15px;
}
/* *********** ICONS *********** */
/* *** SEM FOCO : ÍCONE FICA CINZA *** */
.nav-menu a i,
.nav-menu a:focus i {
    font-size: 24px;
    padding-right: 0.8rem;
    color: #6f7180;
}
/* *** QUANDO PASSAR MOUSE NO LINK : LETRA FICA BRANCA *** */
.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover > a {
    text-decoration: none;
    color: #fff;
}  
/* *** QUANDO PASSAR MOUSE NO LINK : ÍCONE FICA AZUL *** */
.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover > a i {
    color: #149ddd;
}
/* ***********  MAIN  ********** */
#main {
    margin-left: 300px;
}
/* *********** <!-- ACCUEIL --> ********** */ 
section#accueil {
    background-image: url("./img/bg740-493.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 100vh;
} 
section#accueil h2 {
    font-size: 6rem;
} 
section#accueil span#subtitle {
    margin-right: 8rem;
    font-size: 1.5rem;
}  
.text-shadow {
    text-shadow: 4px 4px 10px #000000;
}  
section#accueil div#arraste {
    width: 9rem;
    cursor: pointer;
}  
section#accueil div#arraste a {
    text-decoration: none;
    color: #000000;
}
i.menu-mobile {
  position: fixed;
  color: #fff;
  background-color: #252c90;
  right: 1rem;
  top: 1rem;
  font-size: 1.5rem;
  border-radius: 4rem;
  cursor: pointer;
  z-index: 10;
  width: 45px;
  height: 45px;
  display: none;
  justify-content: center;
  align-items: center;
}
/* ******* RESPONSIVITÉ MENU LATERAL: NAV BAR ****** */
.menu-nav-active {
    overflow: hidden; /* TRAVA O OVERFLOW */
}
.menu-nav-active #header {
    left: 0; /*  MENU VOLTA POSIÇÃO ORIGINAL */
}
i.menu-mobile {
    position: fixed;
    color: #fff;
    background-color: #252c90;
    right: 1rem;
    top: 1rem;
    font-size: 1.5rem;
    border-radius: 4rem;
    cursor: pointer;
    z-index: 10;
    width: 45px;
    height: 45px;
    display: none;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1024px) {
    #header {
      left: -300px;
    }
    i.menu-mobile{
      display: flex;
    }
    section#accueil h2{
      font-size: 3.5rem ;
    }
    section#accueil span#subtitle{
      margin-right: 0;
      font-size: 1rem;
    }
    #main{
        margin-left: 0;
    }
}
/* ******* SCROLL BAR ****** */ 
*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track {
  width: 12px;
  box-shadow: inset 0 0 .3rem #00000050;
  background-color: #fff ;
}
*::-webkit-scrollbar-thumb {
  background-color: #252c90;
  border-radius: 10%;
}
/* ******* <!-- COMPÉTENCES --> ****** */
 .section-bg {
  background-color: #eff5ff;
}
/* ******* <!-- CURRICULUM --> ****** */
.cv .cv-title{
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #050d18;
}
.cv .cv-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #1f5297;
  position: relative;
}
.cv .cv-item h4 {
  line-height: 24px;
  font-weight: 200;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #050d18;
  margin-bottom: 10px;
}
.cv .cv-item h5 {
  background: #e4edf9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}
.cv .cv-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: -9px;
  width: 16px;
  height: 16px;
  border: 2px solid #1f5297;
  background: #fff;
  border-radius: 50%;
}
/* ******* <!-- PORTFOLIO CAROUSEL --> ****** */

.carousel-control-prev{
  margin-left: -10rem; 
 
}

.carousel-control-next{
  margin-right: -10rem;  
}

.carousel-indicators{
  margin-bottom: -35px;
}


.meu-link i {
  font-size: 1rem;
   background: #212431;
   color: whitesmoke;
   padding: 0.6rem;
   margin-right: 1rem;
   border-radius: 50%;
   transition: 0.3s;
   text-decoration: none;
}
.meu-link i:hover {
 background: #149ddd;
}
.meu-zoom i {
   font-size: 1rem;
    background: #212431;
    color: whitesmoke;
    padding: 0.6rem;
    margin-right: 1rem;
    border-radius: 50%;
    transition: 0.3s;
    text-decoration: none;
}
.meu-zoom i:hover {
  background: #149ddd;
}
@media (max-width: 1012px){
  .meu-zoom{
    display: none;
  } 
}

/* ******* ANIMATION ****** */
[data-anime] {
  opacity: 0;
  transition: 1s;
}
[data-anime="down"] {
  transform: translate3d(0, -100%, 0);
}
[data-anime="up"] {
  transform: translate3d(0, 100%, 0);
}
[data-anime="left"] {
  transform: translate3d(-100%, 0, 0);
}
[data-anime="right"] {
  transform: translate3d(50px ,0 ,0);
}
[data-anime].animate {
  opacity: 1;
  transform: translate3d(0 ,0 ,0);
}
@media (max-width: 1860px){
  .carousel-control-prev{
    margin-left: 0;
  } 
  .carousel-control-next{
    margin-right: 0;
  }
  [data-anime="right"] {
    transform: translate3d(0, 100%, 0);
  }
  iframe{
    margin-left: 0;
    width: 100%;
  }
}
/* ******* FOOTER ****** */
#footer {
  padding: 15px;
  color: #fff;
  font-size: 14px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 9999; /* SOBREPOE A TUDO */
  background-color: #021124;
  transition: .3s;
}
@media (max-width: 1012px) {
  #footer{
    position: static;
    width: auto;
    padding: 20px 15px;
  }
}